body {
	padding: 70px;
	overflow: auto;
	background-image: url('../assets/background.png');
}


.signup {
	padding: 40px 0 0 0;
	text-align: center;
}

.instruction p{
	font-size: 50px;
	border-right: 1px solid #ccc;
}

h1, h2 {
text-align: center;
}

.image {
	padding: 10px;
	float: left;
}

.apps-list {
	height: 275px;
	overflow: auto;
}

#submit-button{
	text-align: center;
}

.hero-unit {
	background-image: url('../assets/bg.png');
}

#forms {
	float: left;

}
