body {
	padding: 70px;
	overflow: auto;
	background-image: url('../assets/background.png');
	/**/
}


.signup {
	padding: 40px 0 0 0;
	text-align: center;
}

.instruction p.thinText{
	font-weight: 100;
	
}

.instruction p.emphasizedText{
	font-weight: 800;
	
}

.instruction {
	border-right: 1px solid #ccc;
	font-size: 50px;
	padding-right: 20px;
	margin-right: 10px;
}

h1, h2 {
text-align: center;
}

.image {
	padding: 10px;
	float: left;
}

.apps-list {
	height: 275px;
	overflow: auto;
}

#submit-button{
	text-align: center;
}

.hero-unit {
	background-image: url('../assets/bg.png');
}

#forms {
	float: left;

}
